{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load static %}
{% block title %}Успешная смена пароля{% endblock %}
{% block css %}<link href="{% static 'css/stylePasswordChange.css' %}" rel="stylesheet">{% endblock %}

<body>
    {% block сontend %}
        <div style="display: flex; justify-content: center; margin-top: 20%;">
                <div class="alert alert-success" role="alert">
                    <h1 class="alert-heading">Пароль изменён!</h1>
                    <h4>Ваш пароль был успешно изменён.</h4>
                </div>
        </div>
    {% endblock %}
</body>