{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load static %}
{% block title %}Смена пароля{% endblock %}
{% block css %}<link href="{% static 'css/stylePasswordChange.css' %}" rel="stylesheet">{% endblock %}

<body>
    {% block contend %}
        <div class="container" style="margin-top: 60px;">
            <section class="h-60">
                <div class="container h-60">
                    <div class="row justify-content-sm-center h-60">
                        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                            <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                                <div class="card-body p-4">
                                    <h1 class="fs-4 card-title fw-bold mb-4">Смена пароля</h1>
                                    <form method="POST" class="needs-validation">
                                        {% csrf_token %}
                                        {{ form | crispy }}

                                        <div class="align-items-center d-flex">
                                            <button type="submit" class="btn btn-primary ms-auto">
                                                <a href="{% url 'logout' %}?next={% url 'login' %}">
                                                    Сменить пароль
                                                </a>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {% endblock %}
</body>