<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Регистрация</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="{% static 'css/styleLogin.css' %}" rel="stylesheet">
</head>
<body>
	<section class="h-90">
		<div class="container h-90">
			<div class="row justify-content-sm-center h-90">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<div class="text-center my-5">
						<a href="../.." target="_self"><img src="{% static 'images/logo.png' %}" alt=":(" width="85" height="85"></a>
					</div>
					<div class="card shadow-lg">
						<div class="card-body p-5">
							<h1 class="fs-4 card-title fw-bold mb-4">Регистрация</h1>
							<form method="POST" class="needs-validation" novalidate="" autocomplete="off">
                                {% csrf_token %}
								<div class="mb-3">
									<label class="mb-2 text-muted" for="name">Имя</label>
									<input id="name" type="text" class="form-control" name="username" {% if form.is_bound %} value="{{ form.username.value }}" {% endif %} required autofocus>
                                    <div class="valid-feedback">Username field is valid!</div>
                                    <div class="invalid-feedback">Username field is not valid!</div>
                                    {% for err in form.username.errors %}
                                        <small class="text-danger">{{ err }}</small>
                                    {% endfor %}
								</div>

								<div class="mb-3">
									<label class="mb-2 text-muted" for="email">Электронная почта</label>
									<input id="email" type="email" class="form-control" name="email" {% if form.is_bound %} value="{{ form.email.value }}" {% endif %} required>
                                    <div class="valid-feedback">Email field is valid!</div>
                                    <div class="invalid-feedback">Email field is not valid!</div>
                                    {% for err in form.email.errors %}
                                        <small class="text-danger">{{ err }}</small>
                                    {% endfor %}
								</div>

								<div class="mb-3">
									<label class="mb-2 text-muted" for="password">Пароль</label>
									<input id="password" type="password" class="form-control" name="password1" {% if form.is_bound %} value="{{ form.password1.value }}" {% endif %} required>
                                    <label class="mb-2 text-muted" for="password">Повторите пароль</label>
                                    <input id="password" type="password" class="form-control" name="password2" {% if form.is_bound %} value="{{ form.password2.value }}" {% endif %} required>
                                    <div class="valid-feedback">Password is good!</div>
								    <div class="invalid-feedback"> Password is required </div>
                                    {% for err in form.password1.errors %}
                                        <small class="text-danger">{{ err }}</small>
                                    {% endfor %}
                                    {% for err in form.password2.errors %}
                                        <small class="text-danger">{{ err }}</small>
                                    {% endfor %}
								</div>

								<p class="form-text text-muted mb-3">
									Регистрируясь, Вы соглашаетесь принять правила и условия Лицензионного Соглашения Конечного Пользователя.
								</p>

{#                                {{ form.errors }}#}
								<div class="align-items-center d-flex">
									<button type="submit" class="btn btn-primary ms-auto">
										Зарегистрироваться
									</button>
								</div>
							</form>
						</div>
						<div class="card-footer py-3 border-0">
							<div class="text-center">
                                    Уже есть аккаунт? <a href="{% url 'login' %}" class="text-dark">Войти</a>
							</div>
						</div>
					</div>
					<div class="text-center mt-5 text-muted">
						Copyright &copy; 2021-2022 &mdash; GoldenLog
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
