* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    /*line-height: 1.4em;*/
}

.container-fluid {
    padding: 0;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0;
}

#header {
    margin-bottom: 110px;
}

/* carousel styles */

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators .active {
    background-color: saddlebrown;
}

.carousel {
  background: saddlebrown;
}

.carousel-item .img-fluid {
  width:100%;
}

.carousel-item a {
  display: block;
  width:100%;
}


/* registration button styles */

.btn-rounded {
    border-radius: 19px;
    border-color: #F2F2F2;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
}
.btn-primary:visited,
.btn-primary:hover,
.btn-primary:focus {
    background-color: #BF7636;
    color: #F2F2F2;
    border-color: #BF7636;
}
.btn-primary{
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    color: black;
}

a:active,
a:hover,
a {
    text-decoration: none;
    color: inherit;
}


/*under carousel*/

.containerImg {
    display: flex;
    /*justify-items: center;*/
    flex-direction: row;
    margin-bottom: 20px;
    /*flex-wrap: wrap;*/
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 14pt;
    text-indent: 20px; /* Отступ первой строки в пикселах */
}

.textAbout {
    font-family: 'Poppins', sans-serif;
    font-size: 14pt;
    text-align: justify;
}

.sign {
    margin: 60px;
    padding: 7px;
    /*margin: 10px 0 5px 5px;*/
}

.sign-h5 {
    text-align: center;
    margin-top: 10px;
}

.sign-img {
    width: 220px;
    height: 220px;
}

.p-index-about {
    text-align: justify;
}

.about-img {
    float:left;
    margin-right: 30px;
    margin-top: 20px;
    width: 510px;
    height: 340px;
    margin-bottom: 80px;
}

/* footer */

/*.footer {*/

/*}*/

/* responsive */

/* Large: 992-1199px */
@media (max-width: 1199px) {
    .container {
        max-width: 960px;
        margin: 0 auto;
    }
    .sign {
        margin: 30px;
    }
    .sign-img {
        width: 200px;
        height: 200px;
    }
    .btn-about {
        margin-top: -130px;
    }
}

/* Medium: 768-991px */
@media (max-width: 991px) {
    .container {
        max-width: 720px;
        margin: 0 auto;
    }
    .sign {
        margin: 15px;
    }
    .sign-img {
        width: 150px;
        height: 150px;
    }
    .about-img {
        margin-top: 60px;
        width: 390px;
        height: 240px;
        margin-bottom: 30px;
    }
    .btn-about {
        margin-top: 0;
    }
}

/* Small: 576-767px */
@media (max-width: 767px) {
    .container {
        max-width: 540px;
        margin: 0 auto;
    }
    .sign {
        margin: 15px;
    }
    .sign-img {
        width: 100px;
        height: 100px;
    }
    .about-img {
        display: block;
        float: top;
        margin: 0 15px 60px 15px;
        width: 390px;
        height: 240px;
        /*margin-bottom: 60px;*/
    }
    .carousel {
        visibility: hidden;
        display: none;
    }
    .navbar-expand {
        flex-wrap: wrap;
    }
    .h2-about {
        text-align: center;
        margin-bottom: 15px;
    }
}

/* Large: 0(320)-575px */
@media (max-width: 575px) {
    .container {
        padding: 0 15px;
        margin: 0 auto;
    }
    #header {
        margin-bottom: 190px;
    }
    .containerImg {
        flex-direction: column;
        text-align: center;
    }
    .sign-img {
        width: 100px;
        height: 100px;
    }
    .about-img {
        visibility: hidden;
        display: none;
    }
    .carousel {
        visibility: hidden;
        display: none;
    }
}