{% extends "base.html" %}
{% load static %}
{% block title %}О нас{% endblock %}
{% block css %}<link href="{% static 'css/styleMainPage.css' %}" rel="stylesheet">{% endblock %}

<body>
{% block сontend %}
    <div class="containerAbout">
        <h1 style="text-align: center; margin-bottom: 30px">О компании</h1>
        <p style="text-align: justify">
                  Наша компания с 2008 года занимается изготовлением широкого ассортимента эксклюзивной  мебели и
            предметов интерьера из различных пород  древисины (от дуба, ясеня, клена до самых экзотических видов)
            по специальным проектам.
        </p>
        <p style="text-align: justify">
                  Если Вам нужна новая мебель для квартиры, офиса или загородного дома — обращайтесь к нам. Ассортимент
            изготавливаемых нами изделий довольно широк — это винные погреба, кухни , столы, шкафы, кровати, комоды,
            тумбы, книжные полки, а также двери, лестницы и другие предметы интерьера. При изготовлении изделий мы
            используем  лучшие материалы и комплектующие ведущих производителей.
        </p>
        <p style="text-align: justify">
                Наши специалисты помогут Вам определиться с внешним видом изделия, сортом древесины и шпона. Вместе с Вами
            мы постараемся найти оптимальное решение по цене, дизайну и качеству.
        </p>
        <p style="text-align: justify">
                 Благодаря дизайнерскому проекту, Вы сможете не только увидеть Вашу мебель еще до ее изготовления, но и
            внести необходимые поправки, подобрать цвет, фурнитуру, изменить размеры. Проект, разработанный нами, будет
            не только соответствовать Вашим пожеланиям и требованиям безопасности, но отвечать эстетическим вкусам самых
            изощренных ценителей прекрасного.
        </p>
        <p style="text-align: justify">
                  «Золотое бревно» имеет огромный  опыт работы в деревообрабатывающем производстве. Изделия из древесины,
            изготовленные нашей фирмой, прослужат Вам долго и надежно, они сделают уютным и неповторимым ваш дом
            (квартиру, офис), будут практичны и удобны в эксплуатации.
        </p>
        <p style="text-align: justify">
                Отдав предпочтение нашей компании, Вы можете быть уверены, что на всех этапах выполнения вашего заказа,
            начиная от замеров, изготовления и до установки, будут использоваться профессиональные инструменты и оборудование.
        </p>
        <p style="text-align: justify">
                 «Золотое бревно» не просто изготовит мебель, но и окажет комплексную услугу по ее установке. В своем доме,
            квартире, офисе Вы увидите готовое к эксплуатации изделие.
        </p>
        <p style="text-align: justify">
                 Обращаясь к нам, Вы можете быть уверены в качестве и надежности. Изделия компании «Золотое бревно»,
            изготавливаются с любовью.
        </p>
        <p style="text-align: justify">
            Обращайтесь, и мы воплотим Ваши мечты в реальность!
        </p>
        <p style="text-align: justify">
            Как заказать мебель у нас?
            Оставьте Вашу заявку на нашем сайте на странице «Заявка» в меню пользователя. Выслушав Ваши пожелания и
            сделав необходимые обмеры помещения, мы сделаем предварительный эскиз вашей будущей мебели. Поможем подобрать
            цвет, материал, фурнитуру. Разработаем дизайн-проект. Дальше следует заключение договора и предоплата.
        </p>
        <p style="text-align: justify; margin-bottom: 80px">
            В нашем портфолио Вы можете ознакомиться с некоторыми изделиями, изготовленными  ООО «Золотое бревно».
        </p>
    </div>
{% endblock %}
</body>