{% extends "base.html" %}
{% load static %}
{% block title %}Личный кабинет{% endblock %}
{% block css %}<link href="{% static 'css/styleUserInfo.css' %}" rel="stylesheet">{% endblock %}

<body>
{% block content %}
    <div class="container" style="margin-top: 50px">
          <!-- /Breadcrumb -->
          <div class="row">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{% static 'images/user.png' %}" alt="User" class="rounded-circle" width="230">
                    <div class="mt-3">
                      <h4>{{ user.username }}</h4>
                      <p class="text-secondary mb-1">{{ user.email }}</p>
                      <button class="btn btn-primary" style="margin-top: 15px">Мои заказы</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Имя пользователя</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ user.username }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Почта</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ user.email }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Пароль</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        ************
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-primary btn-rounded ms-auto" onclick="location.href='{% url 'passwordChange' %}'">
                            Сменить пароль
                        </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
</body>